lexer/lex.yy.c
lexer/tpplex
lexer/tpplex.exe
lexer/src/lex.yy.cc
lexer/__pycache__/
lexer/.pytest_cache
parser/src/lex.yy.c
parser/src/parser.tab.c
parser/src/parser.tab.h
parser/parser
parser/.pytest_cache
parser/__pycache__
parser/tree.dot
parser/tree.png
semantica/src/lex.yy.c
semantica/src/parser.tab.c
semantica/src/parser.tab.h
semantica/semantica
semantica/.pytest_cache
semantica/__pycache__
semantica/tree.dot
semantica/tree.png
semantica/teste.tpp
.vscode