1_lexer/lex.yy.c
1_lexer/tpplex
1_lexer/tpplex.exe
1_lexer/src/lex.yy.cc
1_lexer/__pycache__/
1_lexer/.pytest_cache
2_parser/src/lex.yy.c
2_parser/src/parser.tab.c
2_parser/src/parser.tab.h
2_parser/parser
2_parser/.pytest_cache
2_parser/__pycache__
2_parser/tree.dot
2_parser/tree.png
3_semantica/src/lex.yy.c
3_semantica/src/parser.tab.c
3_semantica/src/parser.tab.h
3_semantica/semantica
3_semantica/.pytest_cache
3_semantica/__pycache__
3_semantica/tree.dot
3_semantica/tree.png
3_semantica/teste.tpp
3_semantica/src/lex.yy.c
4_code_gen/src/parser.tab.c
4_code_gen/src/parser.tab.h
4_code_gen/src/lex.yy.c
4_code_gen/gen
4_code_gen/tree.dot
4_code_gen/tree.png
4_code_gen/test
4_code_gen/test.ll

.vscode