lexer/lex.yy.c
lexer/tpplex
lexer/tpplex.exe
lexer/src/lex.yy.cc
lexer/__pycache__/
lexer/.pytest_cache
parser/src/lex.yy.c
parser/src/parser.tab.c
parser/src/parser.tab.h
parser/parser
parser/.pytest_cache
parser/__pycache__
parser/tree.dot
parser/tree.png
.vscode